body
 {
    color: goldenrod;
    text-align:  center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
 }
 
 #cabecera 
 {
     background: yellow;
     font-weight: bold;
     box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
     color: black;
     margin: 0;
     padding: 0.5em;
 }
 
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

 #container 
 {
     width: 70%;
     padding: lem; 
     text-align: left;
     border: 1px solid crimson;
     margin: 0 auto;
 }
#container h1
{
    font-size: 20px;
}

