li {
    font-family: 'Lucida Sans';
    font-size: 16px;

}
img {
    width: 40%;
  
}
.calendar {
    border-style:dotted;
    display: inline-block;
    padding: 8px;
    position: absolute;

    right: 10px;
    top: 80px;
}
.span {
    font-family: 'Rockwell';
    color:darkred;
}

.recuadro {
    display: inline-block;
    position: relative;
}

.kk {
    background-color: green;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 6px;
    padding-right: 10px;

    border-style: solid;
    display: inline-block;

    
}

.lisLTM {
    border-style:inset;
    border-radius:5px;
    position: absolute;
    right: 20px;

    background-color:darkslateblue;
    display: inline-block;
    
    margin: 10px;
    padding: 10px;
}
.lisLTMp {
    font-family: Georgia;
    color:goldenrod;
    text-decoration: overline;
}

p {
    font-size: 20px;
}