li {
    font-family: 'Lucida Sans';
    font-size: 16px;

}
img {
    width: 40%;
  
}
.calendar {
    border-style:dotted;
    display: inline-block;
    padding: 8px;
    position: absolute;

    right: 10px;
    top: 80px;
}
.span {
    font-family: 'Rockwell';
    color:darkred;
}

.recuadro {
    display: inline-block;
    position: relative;
}

.kk {
    background-color: green;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 6px;
    padding-right: 10px;

    border-style: solid;
    display: inline-block;

    
}
p {
    font-size: 20px;
}

.second_section .secondtitle {
    color:blueviolet;
    background-color: cornsilk;

    border-radius: 10px;
    border-style: ridge;

    position: relative;
    top: 35px;
}
.second_section .psibling {
    color:brown;
    background-color: burlywood;
    border-radius: 10px;

    padding-top: 15px;
    border-style: ridge;
 
}